body{
    height: auto;
    width: 100vh;
    background-color: aqua;
}

.content{
    display: block;
}

.display1{
    display: block;
    margin-top: 8em;
}

.display1> img{
    width: 34em;
    height: 20em;
}

.display1 >p{
    text-align: center;
}