<!-- <h4>Welcome to Pizza App</h4> -->
{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block content%}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloremque quis deleniti a odit, earum quod error neque voluptatibus accusantium ducimus officia ab corporis vero voluptates quisquam. Facilis, at esse!
    <!-- <img src="{{url_for('static', filename='pizza pics/California style pizza .webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Chicago Deep Dish pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Chicago Thin Crust pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Detroit style pizza .webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Neapolitan pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/New England Greek Style.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/New York Thin Crust.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/St. Louis Style.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Tomato Pie.webp')}}" alt=""> -->

{% endblock %}