<!-- <h4>Welcome to Pizza App</h4> -->
{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block content%}
    <div class="content">
        <div class="display1">
            {% for product in products %}
            <img src="{{url_for('static', filename='pizza pics/California style pizza .webp')}}" alt="">    
            <img src" alt="">
            <h2>{{ product.name }}</h2><br>
            <p> {{ product.description }}</p>
            {% endfor %}
        </div>
    </div>

    <!-- <img src="{{url_for('static', filename='pizza pics/California style pizza .webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Chicago Deep Dish pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Chicago Thin Crust pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Detroit style pizza .webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Neapolitan pizza.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/New England Greek Style.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/New York Thin Crust.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/St. Louis Style.webp')}}" alt="">
    <img src="{{url_for('static', filename='pizza pics/Tomato Pie.webp')}}" alt=""> -->

{% endblock %}