<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/menu.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('https://source.unsplash.com/user/@jediahowen/NPBnWE1o07I'); background-repeat: no-repeat; background-size:cover;">
   
    <div class="container-fluid crust" class="text-center" style="color: #fff;background-color:rgba(0, 0,0,0.5); margin-bottom: -7vmin;">
        <h2 class="text-center pt-3" style="color: white;font-family: 'Kaushan Script', cursive; font-size: 6rem; font-weight: 800;">
            OUR MENU</h2>
        <div class="row " style="font-family: 'Kalam', cursive; font-size: 3vmin;">
            <div class="col-md-3">
                <h4 style="text-transform: uppercase; font-size: 3.5vmin;">Pizza</h4>
                <p>Grilled Chicken Summer.....<font style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.1200</font></p>
                <p>Chicken Wrap Special....<font style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.1000</font></p>
                <p>Ice-cream Summer.......<font style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.900</font></p>
                <p>Veggie Special.....<font style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.800</font></p>
                <p>Delux Cheese Bugger.......<font style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.1200</font></p>
            </div>
            <div class="col-md-3">
                <h4 style="text-transform: uppercase; font-size: 3.5vmin;">Size</h4>
                <p>Small.......<font  style="color: snow; text-shadow: 2px 5px 5px black;">@ Sh.100</font></p>
                <p>Medium.......<font  style="color: snow; text-shadow: 2px 5px 5px black;">@ Sh.200</font></p>
                <p>Large.......<font  style="color: snow; text-shadow: 2px 5px 5px black;">@ Sh.300</font></p>
            </div>
            <div class="col-md-3">
                <h4 style="text-transform: uppercase; font-size: 3.5vmin;">Crust</h4>
                <p>Crisply......<font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.100</font></p>
                <p>Stuffed...... <font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.150</font></p>
                <p>Glutten-free..... <font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.100</font></p>
            </div>
            <div class="col-md-3 pb-7 ">
                <h4 style="text-transform: uppercase; font-size: 3.5vmin;">Toppings</h4>
                <p>Mushrooms.....<font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.100</font></p>
                <p>Blackolives....<font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.50</font></p>
                <p>Cheese......<font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.100</font></p>
                <p>Green pepper.....<font  style="color: snow; text-shadow: 2px 5px 5px black;">@Sh.50</font></p>
            </div>
        </div>
    </div>
</body>
</html>

<br>