{% extends 'layout.html' %}

{% block content %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

<br>
<body>
   <div class="row bg-light">
       <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method = 'POST' action = ''>
                {{ form.hidden_tag() }}
                
                <fieldset class="form-group">
                    <legend class="border-bottom pt-2 pb-2 mb-2 ">ORDER NOW </legend>
                <div class="form-group">
                    {{form.email.label(class='form-label' )}}
                    {{form.email(class="form-control form-control-sm" )}}
                </div>
                <div class="form-group">
                    {{form.pizza.label(class='form-label' )}}
                    {{form.pizza(class="form-control form-control-sm" )}}
                </div>
                <div class="form-group">
                    {{form.size.label(class='form-label' )}}
                    {{form.size(class="form-control form-control-sm" )}}
                </div>
                <div class="form-group">
                    {{form.crust.label(class='form-label' )}}
                    {{form.crust(class="form-control form-control-sm" )}}
                </div>
                <div class="form-group">
                    {{form.toppings.label(class='form-label' )}}
                    {{form.toppings(class="form-control form-control-sm" )}}
                </div>
                <div class="form-group">
                    {{form.no_of_pizzas.label(class='form-label' )}}
                    {{form.no_of_pizzas(class="form-control form-control-sm" )}}
                </div>
                </fieldset>
                <br>
                <div class="d-grid gap-2  col-6 form-group mx-auto">
                    {{form.submit(class="btn btn-primary " )}}
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
   </div>
</body>
    

{% endblock %}